@import '../../common/variables.scss';

.MuiIconButton-root{
  border-radius: 100px;
}
.MuiAppBar-colorPrimary{
  background-color: $color-AsmlBlue !important;
 // color:$color-LelyWhite !important;
 //@extend margin: 10px 0 !important;
//  margin: 20px 0 !important;
}

.MuiButton-root {
  color:$color-LelyWhite !important;
    padding: 6px 16px;
}

.MuiTableCell-head {
  font-weight: bold !important;
  font-size: 17px !important;
}
  
